<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Student Jobs List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Internship Jobs
    </ion-list-header>
    <ion-item *ngFor="let job of Jobs" class="user-list">
      <ion-label >
        <h5>
          <ion-icon name="person"></ion-icon> {{job.Company}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{job.Position}}
        </p>
        <p>
          <ion-icon name="call"></ion-icon> {{job.Duration}}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/student-application/', job.$key ]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        
      </div>
    </ion-item>
  </ion-list>