<div style="height: 900px; width: 100%; left: 0; top: 0px; overflow: hidden; position: fixed; ">
  <ion-header>
    <ion-toolbar class="ios hydrated" style="width: 100%;">
      <ion-title class="ios title-ios hydrated">Apply Internship Job</ion-title>
      <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>
    <ion-list lines="full">
      <form [formGroup]="applyJobForm" (ngSubmit)="formSubmit()">
        <ion-item>
          <ion-label position="floating">Company</ion-label>
          <ion-input formControlName="company" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Position</ion-label>
          <ion-input formControlName="job" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Student</ion-label>
          <ion-input formControlName="student" type="text" required>
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">Apply Job</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-content>
</div>